img {
  width: 200px;
}

.birthday-container {
  position: relative;
  display: inline-block;
}

.birthday-container:hover, .add-new-birthday:hover {
  transform: scale(1.1);
}

.birthday-link {
  position: relative;
  display: inline-block;
  flex-direction: column;
}

.birthdays-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title-container {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 7px;
  border: 1px solid #000000;
}
