.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.error {
    color: #ff0000;
    font-size: 12px;
}

main {
    flex-grow: 1;
}

form {
    width: 25%;
    margin: 20px auto;
}
