button {
    width: 25%;
    height: 50px;
    background-color: #0d20c9;
    color: #ffffff;
    border: none;
    text-decoration: none;
    font-size: 20pt;
    margin-top: 5px;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button span {
    margin: 5px;
}
