.button-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border-radius: 50%;
  color: #ff0000;
}

.photo-container {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.photo-container:hover {
  transform: scale(1.1);
}

.invisible {
  display: none;
}
