.button-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border-radius: 50%;
  color: #ff0000;
}

.photo-container {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.photo-container:hover {
  transform: scale(1.05);
}

.invisible {
  display: none;
}

.background-light, .background-dark {
  transition: background-color 0.3s ease, color 0.3s ease;
}
