footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 0 15px 25px 15px;
  background-color: #202020;
  color: #ffffff;
}

.footer-logo {
  width: 75px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-bottom: -10px;
}

.footer-link:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 1px 1px 1px 1px;
}

.footer-link-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: -2px;
}
