.light-header {
  background-color: #10ffbf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dark-header {
  background-color: #202020;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.link-container {
  display: flex;
}

@media (max-width: 800px) {
  .menu-toggle {
    display: block;
  }

  .link-container {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 0;
  }

  .link-container.open {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    width: 100%;
    z-index: 2;
  }

  .logo {
    width: 150px;
  }

  .link-container a, .link-container div {
    padding: 10px;
    text-align: center;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 120px;
  }
}
