header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-header {
  background-color: #10ffbf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dark-header {
  background-color: #202020;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .logo {
    width: 150px;
  }
}

.link-container {
  display: flex;
}
