.language-selector {
  width: 200px;
  margin: 20px;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.selected-language {
  display: flex;
  justify-content: space-between;
}

.language-options {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.language-options li {
  padding: 8px 12px;
}

.border-light {
  border: 1px solid #000000;
}

.border-dark {
  border: 1px solid #ffffff;
}

.arrow {
  font-size: 12px;
}
