form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  width: 0;
  margin-left: auto;
  cursor: pointer;
  text-align: center;
}

.close:hover {
  transform: scale(1.3);
}

.loading {
  width: 90%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.modal-link {
  font-size: 18pt;
  cursor: pointer;
}

.modal-link:hover {
  transform: scale(1.1);
}

.modal-sign-in, .modal-sign-up {
  width: 25%;
  position: fixed;
  transform: translate(130%, 20%);
  background-color: #999999;
  padding: 20px;
}

.modal-sign-in {
  transform: translate(130%, 30%);
}

.modal-sign-up {
  transform: translate(130%, 15%);
}

.modal-wait {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.separator {
  border-color: #000000;
  margin-top: 13%;
}
