.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mode {
  display: flex;
  flex-direction: row;
}
