body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 500px;
  transform: scale(0.8);
  transform-origin: top left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

main {
  flex: 1;
  padding: 20px;
}

img, iframe {
  user-select: none;
}

.background-light, .background-dark {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.background-light {
  color: #000000;
  background-color: #ffffff;
}

.background-dark {
  color: #ffffff;
  background-color: #404040;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container > * {
  min-width: fit-content;
  flex: 1;
}

.center {
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.error {
  color: #ff0000;
  font-size: 14pt;
  font-weight: bold;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.info-container div {
  margin: 10px;
  font-size: 20pt;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-container button {
  margin-left: 1%;
}

.edit-container div {
  margin-right: 6%;
}
